{% extends 'base.html'%}
{% load static %}
{% block title%}| Welcome {% endblock %}

{% block styles %}

{% endblock %}



{% block content %}



       <div class="container pt-4 nav-top-push">
    <div class="row">

      {% include 'partials/_alerts.html' %}

      <div class="col-sm pt-2">
        <div class="card">
          <div class="card-header bg-success text-white">
            <span class="push-up">Featured</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Verify Radiographer Practice License <span class="badge badge-warning float-right"> <i class="fa fa-info text-white"></i><a class="alinks" href="#"> Help</a></span></h5>
            <p class="card-text">Verify Radiographer Practice License from RRBN Registrations Portal</p>
          </div>

          <a href="#" class="btn btn-outline-success button-rectangle">Verify Now <span class="float-right"><i class="fa fa-play tinyicon"></i></span></a>
        </div>
      </div>

      <div class="col-sm pt-2">
        <div class="card">
          <div class="card-header bg-success text-white">
            <span class="push-up">Featured</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Verify Hospitals/Centers Radiography License<span class="badge badge-warning float-right"> <i class="fa fa-info text-white"></i><a class="alinks" href="#"> Help</a></span></h5>
            <p class="card-text">Verify Hospitals/Centers Radiography License from RRBN Inspection and Monitoring Portal</p>
          </div>

          <a href="#" class="btn btn-outline-success button-rectangle">Verify Now <span class="float-right"><i class="fa fa-play tinyicon"></i></span></a>
        </div>
      </div>
      </div>
      <div class="row">

      <div class="col-sm pt-2">
        <div class="card">
          <div class="card-header bg-success text-white">
            <span class="push-up">Featured</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Verify Fees and Payments<span class="badge badge-warning float-right"> <i class="fa fa-info text-white"></i><a class="alinks" href="#"> Help</a></span></h5>
            <p class="card-text">Verify Fees and Payments for RRBN Payments Portal</p>
          </div>

           <a href="#" class="btn btn-outline-success button-rectangle">Verify Now <span class="float-right"><i class="fa fa-play tinyicon"></i></span></a>
        </div>
      </div>

      <div class="col-sm pt-2">
        <div class="card">
          <div class="card-header bg-success text-white">
            <span class="push-up">Featured</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Need more Information?  <span class="badge badge-warning float-right"> <i class="fa fa-info text-white"></i><a class="alinks" href="#"> Help</a></span></h5>
            <p class="card-text">Visit RRBN Corporate Website</p>
          </div>

           <a href="#" class="btn btn-outline-success button-rectangle">Visit our RRBN Corporate Website <span class="float-right"><i class="fa fa-play tinyicon"></i></span></a>
        </div>
      </div>




    </div>

    <div class="row push-down">
      <div class="col text-center">
        <h2>RADIOGRAPHERS REGISTRATION BOARD OF NIGERIA (RRBN)</h2>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col">
        <div class="card">
          <div class="card-body text-justify">
            <p>The RRBN Integrated Services Portal is a one-stop shop for information search and retrieval across all RRBN’s electronic platforms and Corporate Website. It is a point of consolidation for Radiographers, Hospitals and the general public to be able to search, retrieve and verify information such as Radiographer Practice License Status/Validity, Hospital Radiography Practice Registration Status and Validity, as well as various payment details from the accounts department.</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>

    <!-- <div class="row push-down">
      <div class="col text-center">
        <h2>RADIOGRAPHERS REGISTRATION BOARD OF NIGERIA (RRBN)</h2>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col">
        <div class="card no-border">
          <div class="card-body text-center">
            <p>All valid name reservation applications received before 2pm on working days will receive response within 4 hours.</p>
          </div>
        </div>
      </div>
    </div> -->

   

    <!-- <div class="row mb-5">

      <div class="col-lg-3 col-md-3 col-sm-12 mt-2 gutter-reducer">
        <div class="card-square no-border bg-success-dark expand">
          <div class="card-body text-center p-4 text-white">

            <i class="fa fa-users text-white big-icon mb-2"></i>

            <h5>ACCREDITED AGENTS</h5>

            <p>All valid name reservation applications received before 2pm on working days will receive response within 4 hours. Users are encouraged to check their accounts and email please</p>

            <div class="btn btn-outline-primary text-white">Register</div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 mt-2 gutter-reducer">
        <div class="card no-border bg-success-light expand">
          <div class="card-body text-center p-4 text-white">

            <i class="fa fa-info-circle text-white big-icon mb-2"></i>

            <h5>ACCREDITED AGENTS</h5>

            <p>All valid name reservation applications received before 2pm on working days will receive response within 4 hours. Users are encouraged to check their accounts and email please</p>

            <div class="btn btn-outline-primary text-white">Register</div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 mt-2 gutter-reducer">
        <div class="card no-border bg-success-dark expand">
          <div class="card-body text-center p-4 text-white">

            <i class="fa fa-edit text-white big-icon mb-2"></i>

            <h5>ACCREDITED AGENTS</h5>

            <p>All valid name reservation applications received before 2pm on working days will receive response within 4 hours. Users are encouraged to check their accounts and email please</p>

            <div class="btn btn-outline-primary text-white">Register</div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 mt-2 gutter-reducer expand">
        <div class="card no-border bg-success-light expand">
          <div class="card-body text-center p-4 text-white">

            <i class="fa fa-question-circle text-white big-icon mb-2"></i>

            <h5>NEED HELP?</h5>

            <div class="alighn-left">
              <a class="nav-link text-white" href="#"><i class="fa fa-play tinyicon text-white my-2 pt-1"></i> Download user guide</a>
              <a class="nav-link text-white" href="#"><i class="fa fa-play tinyicon text-white mb-2"></i> Faq</a>
              <a class="nav-link text-white" href="#"><i class="fa fa-play tinyicon text-white mb-2"></i> Tersm of use</a>
              <a class="nav-link text-white" href="#"><i class="fa fa-play tinyicon text-white mb-2"></i> Contact Info</a>
            </div>

            <div class="btn btn-outline-primary text-white">Register</div>
          </div>
        </div>
      </div>
    </div> -->

  </div>
  
  {% endblock %}