{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}       
{% bootstrap_css %}        
{% bootstrap_javascript jquery='full' %}
{{ form.media }}



<form method="POST" action=".">


<form method="post" action="" >
  {% csrf_token %}
  {{ form.request_date|as_crispy_field }}
  {{ form.requesting_staff|as_crispy_field }}
  {{ form.department|as_crispy_field }}

  <input type="hidden" name="assigned_by" class="form-control" {% if user.is_authenticated %} value="{{ request.user.id }}" {% endif %} required id="id_assigned_by"  id="div_id_assigned_by">
  


 <div class="modal-header">
    <h5 class="modal-title text-success">Assign Vehicle</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
    <div class="form-group col-md-4">
     {{ form.request_no|as_crispy_field }}
    </div>

    <div class="form-group col-md-4">
    {{ form.vehicle_name|as_crispy_field }}
    </div>

    <div class="form-group col-md-4">
    {{ form.request_reason|as_crispy_field }}
    </div>

    </div>

    <div class="row">
    <div class="form-group col-md-4">
    {{ form.destination|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mt-2 pt-2">
    <label for="id_start_date" class=" requiredField">Trip Start Date<span class="asteriskField">*</span></label>
    <input type="date" name="start_date" class="form-control" required id="id_start_date"  id="div_id_start_date">
    </div>


    <div class="form-group col-md-4 mt-2 pt-2">
    <label for="id_end_date" class=" requiredField">Trip End Date<span class="asteriskField">*</span></label>
    <input type="date" name="end_date" class="form-control" required id="id_end_date"  id="div_id_end_date">
    </div>
    </div>

    <div class="row">
    <div class="form-group col-md-4">
    {{ form.driver|as_crispy_field }}
    </div>
    <div class="form-group col-md-4">
    {{ form.current_mileage|as_crispy_field }}
    </div>
    </div>



    <div class="modal-footer">

    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="submit-btn btn btn-success ml-4 pt-2 pb-1 pr-2"><i class="fa fa-podcast text-white"></i>&nbsp;Assign Vehicle</button>

  </div>

</form>


