{% extends 'base0.html'%}
{% load static %}
{% block title%}| Vehicle Requests {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles2.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"> 
<link href="{% static 'css/mycustomcss.css' %}" rel="stylesheet">
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
{% include "_modal.html" %}
<!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
      <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
         <br><br><br>

         <h3 class="col-12 text-info">Manage Vehicle Requests</h3>

         

           <!-- DataTales Example -->
          <div class="card shadow mb-2">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-info">Vehicle Requests Management</h6>
            </div>
            <div class="card-body">

              <div class="table">
                <table class="table table-bordered" id="mydata" width="100" cellspacing="0">
                  <thead class="text-info">
                    <tr>
                      <th>S/N</th>
                      <th width="10%">Requisition No</th>
                      <th width="10%">Requesting Staff</th>
                      <th width="13%">Department</th>
                      <th width="13%">Vehicle Name</th>
                      <th width="13%">Destination</th>
                      <th width="13%">Trip Duration</th>
                      <th width="10%">Request Date</th>
                      <th width="18%">Actions</th>
                    </tr>
                  </thead>

                <tbody>
                {% if request_qs %}
                {% for object in request_qs %}
                <tr>
                <td>{{forloop.counter}}</td>
                <td width="10%">{{object.request_no}}</td>
                <td width="10%">{{object.requesting_staff.first_name}} {{object.requesting_staff.last_name}}</td>
                <td width="13%">{{object.department}}</td>
                <td width="13%">{{object.vehicle}}</td>
                <td width="13%">{{object.destination}}</td>
                <td width="13%">{{object.request_duration}}</td>
                <td width="10%">{{object.request_date_pretty}}</td>
                <td width="18%">

                <a href="{% url 'fleet:vehicle_request_detail' object.pk %}" class="btn btn-outline-warning btn-sm">View Vehicle Requests</a></td>

                </td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript">
    $(function() {
    
        $(".bs-modal").each(function () {
          $(this).modalForm({
              formURL: $(this).data('form-url')
          });
        });
    
    });

</script>




<script>
  $('#mydata').dataTable();
</script>







{% endblock %}
