{% extends 'base13.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}| Dashboard {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.8.2-web/css/allt.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles2.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"> 
<link href="{% static 'css/mycustomcss.css' %}" rel="stylesheet">

<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">


{% endblock %}



{% block content %}

{% include "_modal.html" %}

      <div class="content">
        <div class="container-fluid ">
          <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                  </div>
                  <p class="card-category">Awarded Contracts</p>
                  {% if vass %}<h3 class="card-title">{{ vass.count }}
                  </h3>
                  {% else %}  
                  <h3 class="card-title">0
                  </h3>
                  {% endif %}

                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-info">date_range</i>
                    {% if vassmnth %} {{ vassmnth.count }} (Awarded this Month)
                    {% else %}  
                    0 (Awarded this Month)
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">update</i>
                  </div>
                  <p class="card-category">Projects In Progress</p>
                   {% if vreq_pend %}<h3 class="card-title">{{ vreq_pend.count }}
                  </h3>
                  {% else %}  
                  <h3 class="card-title">0
                  </h3>
                  {% endif %}
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-info">date_range</i> {% if vreq_pend_mnth %} {{ vreq_pend_mnth.count }} (Ongoing this Month)
                    {% else %}  
                    0 (Ongoing this Month)
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            
          
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">add_task</i>
                  </div>
                  <p class="card-category">Completed Projects</p>
                  {% if sch_pend %}<h3 class="card-title">{{ sch_pend.count }}
                  </h3>
                  {% else %}  
                  <h3 class="card-title">0
                  </h3>
                  {% endif %}
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-info">date_range</i>{% if sch_pend_mnth %} {{ sch_pend_mnth.count }} (Completed this Month)
                    {% else %}  
                    0 (Completed this Month)
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                  </div>
                  <p class="card-category">Abandoned Projects</p>
                 {% if rep %}<h3 class="card-title">{{ rep.count }}
                  </h3>
                  {% else %}  
                  <h3 class="card-title">0
                  </h3>
                  {% endif %}
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-info">date_range</i> {% if rep_mnth %} {{ rep_mnth.count }} (Abandoned this Month)
                    {% else %}  
                    0 (Abandoned this Month)
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

  <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

          <div class="row">


          <div class="col-md-4" onclick="window.location='{% url 'procurement:contract_list' %}';" style="cursor: pointer;">
              <div class="card remove-borer">
                <div class="card-body">
                <button type="button" class="btn info text-info pt-5  pb-5 mt-2 mb-2 w-100"><img class="icons-set" src="{% static 'img/barcode.png' %}" alt="shop"> View Contract Awards</button>
                </div>
                </div>
              </div> 
      
              <div class="col-md-4" onclick="window.location='{% url 'procurement:projects_list' %}';" style="cursor: pointer;">
              <div class="card remove-borer">
                <div class="card-body">
                <button type="button" class="btn warning text-warning pt-5  pb-5 mt-2 mb-2 w-100"><img class="icons-set" src="{% static 'img/reports.png' %}" alt="shop"> View Projects</button>
                </div>
                </div>
              </div> 

          

            <div class="col-md-4" onclick="window.location='{% url 'procurement:vendor_list' %}';" style="cursor: pointer;">
              <div class="card remove-borer">
                <div class="card-body">
                <button type="button" class="btn danger text-danger pt-5  pb-5 mt-2 mb-2 w-100"><img class="icons-set" src="{% static 'img/view-requisition.png' %}" alt="shop"> Reports</button>
                </div>
                </div>
              </div> 

              </div>











        </div>
      </div>

<!--Jquery plugin-->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

<script type="text/javascript">
    $(function() {
    
        $(".bs-modal").each(function () {
          $(this).modalForm({
              formURL: $(this).data('form-url')
          });
        });
    
    });



</script>


{% endblock %}