{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.8.2-web/css/all.css' %}">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-reg.css' %}">

    {{finalize_form.media}}

    

    {% block styles %} 
    



    {% endblock %}
    <title>RRBN Monitoring Portal {% block title %}{% endblock %}</title>
</head>

<body>
    <header>

        <section>
        <div class="container">
        <div class="row">
        <div class="col-md-5 my-3 mx-sm-1">
        <div class="col-md-12">
        <div class="row">                
        <img src="{% static 'img/rrbn-logo.png' %}" alt="">
        </div>    
        </div>
        </div>
        </section>


        <div class="container justify-content-center">
         <!-- Alerts -->
        {% include 'partials/_alerts.html' %}
        </div>
    </header>





    {% block content%} 

   



    {%endblock%}



    <div class="copyright">
        <div class="copyright-container">
            <center>
                <p>
                    &copy All Rights Reserved RRBN 2019</p>
            </center>
        </div>
    </div>

    {% block scripts %}

     <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap-material-design.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock scripts %}

    {% block extrascripts %}{% endblock extrascripts %}


</body>

</html>