{% load widget_tweaks %}
{% load crispy_forms_tags %}

<form method="post" action="">
  {% csrf_token %}

  {{ form.requisition_date|as_crispy_field }}
  {{ form.requesting_staff|as_crispy_field }}
  {{ form.department|as_crispy_field }}

  <input type="hidden" name="issued_by" {% if user.is_authenticated %} value="{{ request.user.id }}" {% endif %} required id="id_issued_by"  id="div_id_issued_by">


 <div class="modal-header">
    <h5 class="modal-title text-success">Issue Requisition</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
  <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

    <div class="row">
    <div class="form-group col-md-4">
    {{ form.requisition_no|as_crispy_field }}
    <div class="{% if form.requisition_no.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
    {{ form.item_name|as_crispy_field }}
    <div class="{% if form.item_name.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
    </div>
    </div>

    
    <div class="form-group col-md-4">
    {{ form.quantity_requested|as_crispy_field }}
    <div class="{% if form.quantity_requested.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
    </div>
    </div>

    </div>

    <div class="row">
    <div class="form-group col-md-4">
    {{ form.quantity_issued|as_crispy_field }}
    <div class="{% if form.quantity_issued.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
    </div>
    </div>

    
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times text-white"></i>  Close</button>
    <button type="button" class="submit-btn btn btn-success ml-2 pt-2 pb-1 pr-2"><i class="fa fa-podcast text-white"></i>  Issue Requisition</button>

  </div>

</form>






