{% extends 'base2.html'%}
{% load static %}
{% block title%}| Issued Requisitions {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.8.2-web/css/allt.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles2.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"> 
<link href="{% static 'css/mycustomcss.css' %}" rel="stylesheet">

<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">


{% endblock %}

{% block content %}
{% include "_modal.html" %}
<!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
         <br><br><br>

           {% include 'partials/_alerts.html' %}

          <!-- DataTales Example -->
            <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-success">Issued Requisitions</h6>
            </div>
            <div class="card-body">

             <div class="table-responsive-lg">
                <table class="table table-bordered table-hover" id="mydata">
                <thead>
                <tr style="background: #41963F;">
                <td style="color: #fff;" class="small-text" width="05%">S/N</td>
                <td style="color: #fff;" class="small-text" width="10%">Requisition No</td>
                <td style="color: #fff;" class="small-text" width="15%">Item Name</td>
                <td style="color: #fff;" class="small-text" width="12%">Requested Quantity</td>
                <td style="color: #fff;" class="small-text" width="10%">Requisition Date</td>
                <td style="color: #fff;" class="small-text" width="10%">Requested By</td>
                <td style="color: #fff;" class="small-text" width="10%">Department</td>
                <td style="color: #fff;" class="small-text" width="10%">Issue Date</td>
                <td style="color: #fff;" class="small-text" width="10%">Issued By</td>
                <td style="color: #fff;" class="small-text" width="09%">Actions</td>
                </tr>
                </thead>
                <tbody>
                {% if issued_requisitions_qs %}
                {% for object in issued_requisitions_qs %}
                <tr>
                <td width="05%">{{forloop.counter}}</td>
                <td width="10%">{{object.requisition_no}}</td>
                <td width="15%">{{object.item_name}}</td>
                <td width="12%">{{object.quantity_requested}}</td>
                <td width="10%">{{object.requisition_date_pretty}}</td>
                <td width="10%">{{object.requesting_staff.first_name}} {{object.requesting_staff.last_name}}</td>
                <td width="10%">{{object.department}}</td>
                <td width="10%">{{object.issue_date_pretty}}</td>
                <td width="10%">{{object.issued_by.first_name}} {{object.issued_by.last_name}}</td>
                <td width="09%">
                  <a class="btn btn-primary p-1" href="{% url 'store:issue_details' object.pk %}"><i class="fa fa-folder-open text-white"></i></a>



                </td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
                </table>
               </div>
             </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->



<!--Jquery plugin-->
     <script src="{% static 'js/jquery.js' %}"></script>
     
     <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

     <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>





<script type="text/javascript">
    $(function() {
    
        $(".bs-modal").each(function () {
          $(this).modalForm({
              formURL: $(this).data('form-url')
          });
        });
    
    });

</script>

<script>
$('#mydata').dataTable();
</script>









{% endblock %}