{% extends 'base2.html'%}
{% load static %}
{% load humanize %}
{% block title%}| Restock Item Details {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles2.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"> 
<link href="{% static 'css/mycustomcss.css' %}" rel="stylesheet">
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
{% include "_modal.html" %}

<!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
      <!-- Begin Page Content -->
        <div class="container-fluid">
        <br>
        <div class="row mr-4 mt-4">
            <div class="col-md-6 mt-0">
                <div class="col-md-12">
                    <div class="row">
                      <h3 class="col-12 text-info">Item Restock Details</h3>
                      <br>
                        <p class="col-12 text-success lead">Item Restock Details</p>
                    </div>
                   
                    {% for object in restock %}

                    <div class="row">
                        <span class="col-5"><strong>Restock No:</strong></span>
                        <span class="col-6 ">{{object.restock_no}}</span>
                    </div>
                    {% endfor %} 
                    <div class="row">
                        <span class="col-5"><strong>Stock Code:</strong></span>
                        <span class="col-6 ">{{object.stock_code}}</span>
                    </div>
                    <div class="row">
                      <span class="col-5"><strong>Item Name:</strong></span>
                      <span class="col-6">{{object.item_name}}</span>
                  </div>           
                  <div class="row">
                      <span class="col-5"><strong>Item Description:</strong></span>
                      <span class="col-6">{{object.item_description}}</span>
                  </div>               
                  <div class="row">
                      <span class="col-5"><strong>Category:</strong></span>
                      <span class="col-6">{{object.category}}</span>
                  </div>
                  
                  <div class="row">
                      <span class="col-5"><strong>Vendor Name:</strong></span>
                      <span class="col-6">{{object.vendor}}</span>
                    </div>  
                  <div class="row">
                      <span class="col-5"><strong>Unit of Measurement:</strong></span>
                      <span class="col-6">{{object.unit}}</span>
                  </div> 
                   {% for object in restock %}

                  <div class="row">
                      <span class="col-5"><strong>Quantity Ordered:</strong></span>
                      <span class="col-6">{{object.quantity_ordered}}</span>
                  </div> 

                  <div class="row">
                      <span class="col-5"><strong>Unit Price:</strong></span>
                      <span class="col-6">{{object.unit_price}}</span>
                  </div> 
                  <div class="row">
                      <span class="col-5"><strong>Quantity Received:</strong></span>
                      <span class="col-6">{{object.quantity_received}}</span>
                  </div>  
                  <div class="row">
                      <span class="col-5"><strong>Received By:</strong></span>
                      <span class="col-6">  {{object.received_by.first_name}} {{object.received_by.last_name}}</span>
                  </div>
            
                  <div class="row">
                      <span class="col-5"><strong>Received On:</strong></span>
                      <span class="col-6">{{ object.received_on}}</span>
                  </div> 

                 {% endfor %}         

                 
                </div>
                <br>
              </div>   

            <div class="col-md-5 mt-5">
                <p class="text-success lead">Actions</p>
        <hr> 
        <div class="d-flex justify-content-end">   
        
        
        <a href="{% url 'store:items_list' %}" class="btn btn-warning text-white py-1 mr-4 mt-1 mb-3"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Inventory List</a>
        </div> 
        

        </div>            
      </div>
        <!-- /.container-fluid -->
      </div>
      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript">
    $(function() {
    
        $(".bs-modal").each(function () {

          $(this).modalForm({
              formURL: $(this).data('form-url')
               
          });
        });
    
    });

</script>





<script>
  $('#mydata').dataTable();
</script>







{% endblock %}
