{% extends 'base15.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles2.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"> 
<link href="{% static 'css/mycustomcss.css' %}" rel="stylesheet">
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">


{% endblock %}



{% block content %}

{% include "_modal.html" %}


    <div class="content">


        <div class="container-fluid ">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                  </div>
                  <p class="card-category">Total Requisitions</p>
                  {% if requ %}<h3 class="card-title">{{ requ.count }}
                  </h3>
                  {% else %}  
                  <h3 class="card-title">0
                  </h3>
                  {% endif %}

                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-info">date_range</i>

                    {% if reqmnth %} {{ reqmnth.count }} (Requested this Month)
                    {% else %}  
                    0 (Requested this Month)
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">update</i>
                  </div>
                  <p class="card-category">Total Issued Items</p>
                  {% if iss %}<h3 class="card-title">{{ iss.count }}
                  </h3>
                  {% else %}  
                  <h3 class="card-title">0
                  </h3>
                  {% endif %}

                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-info">date_range</i>
                    
                    {% if issmnth %} {{ issmnth.count }} (Issued this Month)
                    {% else %}  
                    0 (Issued this Month)
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">error_outline</i>
                  </div>
                  <p class="card-category">Items Below Reorder</p>
                  {% if ite %}<h3 class="card-title">{{ ite.count }}
                  </h3>
                  {% else %}  
                  <h3 class="card-title">0
                  </h3>
                  {% endif %}

                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-info">date_range</i> 
                    {% if itemnth %} {{ itemnth.count }} (Below Reorder this Month)
                    {% else %}  
                    0 (Below Reorder this Month)
                    {% endif %}

                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">report</i>
                  </div>
                  <p class="card-category">Currently Unavailable</p>
                  {% if res %}<h3 class="card-title">{{ res.count }}
                  </h3>
                  {% else %}  
                  <h3 class="card-title">0
                  </h3>
                  {% endif %}

                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-info">date_range</i> 
                    {% if resmnth %} {{ resmnth.count }} (Unavailable this Month)
                    {% else %}  
                    0 (Unavailable this Month)
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>


          <div class="row">

            <div class="col-md-4" onclick="window.location='{% url 'store:requisition_list' %}';" style="cursor: pointer;">
              <div class="card remove-borer">
                <div class="card-body">
                <button type="button" class="btn info text-info pt-5  pb-5 mt-2 mb-2 w-100"><img class="icons-set" src="{% static 'img/view-requisition.png' %}" alt="shop"> View Requisitions</button>
                </div>
                </div>
              </div> 
      
              <div class="col-md-4" onclick="window.location='{% url 'store:retrieve_item' %}';" style="cursor: pointer;">
              <div class="card remove-borer">
                <div class="card-body">
                <button type="button" class="btn danger text-danger pt-5  pb-5 mt-2 mb-2 w-100"><img class="icons-set" src="{% static 'img/barcode.png' %}" alt="shop"> Create Requsition</button>
                </div>
                </div>
              </div> 

            
            <div class="col-md-4" onclick="window.open('{% url 'store:generate_inventory_report' %}','_blank');;" style="cursor: pointer;">
              <div class="card remove-borer">
                <div class="card-body">
                <button type="button" class="btn warning text-warning pt-5  pb-5 mt-2 mb-2 w-100"><img class="icons-set" src="{% static 'img/reports.png' %}" alt="shop"> Inventory Report</button>
                </div>
                </div>
              </div> 






              <!--  <div class="col-md-4" onclick="window.location='{% url 'store:requisition_list' %}';" style="cursor: pointer;">
              <div class="card remove-borer">
                <div class="card-body">
                <button type="button" class="btn danger text-danger pt-5  pb-5 mt-2 mb-2 w-100"><img class="icons-set" src="{% static 'img/view-requisition.png' %}" alt="shop"> View Requisitions</button>
                </div>
                </div>
              </div> -->


          </div>
        </div>
      </div>

<!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->
<!-- <script src="{% static 'js/bootstrap.js' %}"></script>-->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript">
    $(function() {
    
        $(".bs-modal").each(function () {
          $(this).modalForm({
              formURL: $(this).data('form-url')
          });
        });
    
    });





</script>


{% endblock %}