{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<script src="{% static 'js/moment2.min.js' %}"></script>

<link href="{% static 'bootstrap-datepicker/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="{% static 'js/tempusdominus-bootstrap-4.js' %}"></script>

    <!-- Content Wrapper -->
    <div id="content-wrapper bg-light" class="d-flex flex-column">

      <!-- Main Content -->
    <div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

    <div class="modal-header">
    <h5 class="modal-title text-success">Create Staff Profile</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>

    <div class="modal-body">
    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
    {% for error in form.non_field_errors %}
    {{ error }}
    {% endfor %}
    </div>
    
    
    <form method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="row">
    <div class="form-group col-md-4">
    {{ form.employee|as_crispy_field }}
    <div class="{% if form.employee.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
    {{ form.department|as_crispy_field }}
    <div class="{% if form.department.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
    {{ form.email|as_crispy_field }}
    <div class="{% if form.email.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>
    </div>
   
    <div class="row">
    <div class="form-group col-md-4">
    {{ form.phone|as_crispy_field }}
    <div class="{% if form.phone.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
    {{ form.dob|as_crispy_field }}
    <div class="{% if form.dob.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
   {{ form.gender|as_crispy_field }}
   <div class="{% if form.gender.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>
    </div>
    

    <div class="row">
    <div class="form-group col-md-4">
    {{ form.marital_status|as_crispy_field }}
    <div class="{% if form.marital_status.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
   {{ form.next_of_kin|as_crispy_field }}
   <div class="{% if form.next_of_kin.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>
    
    <div class="form-group col-md-4">
     {{ form.nationality|as_crispy_field }}
     <div class="{% if form.nationality.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>
    </div>


    <div class="row">
    <div class="form-group col-md-4">
    {{ form.zone|as_crispy_field }}
    <div class="{% if form.zone.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
    {{ form.designation|as_crispy_field }}
    <div class="{% if form.designation.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    
    <div class="form-group col-md-4">
    {{ form.pay_grade|as_crispy_field }}
    <div class="{% if form.pay_grade.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>
    </div>

    <div class="row">
    <div class="form-group col-md-4">
    {{ form.staff_id|as_crispy_field }}
    <div class="{% if form.staff_id.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
    {{ form.contact_address|as_crispy_field }}
    <div class="{% if form.contact_address.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
    {{ form.city|as_crispy_field }}
    <div class="{% if form.city.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>
    </div>

    <div class="row">
    <div class="form-group col-md-4">
    {{ form.state|as_crispy_field }}
    <div class="{% if form.state.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
    {{ form.state_of_origin|as_crispy_field }}
    <div class="{% if form.state_of_origin.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
    {{ form.local_government_area|as_crispy_field }}
    <div class="{% if form.local_government_area.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>
    </div>

    <div class="row">
    <div class="form-group col-md-4">
    {{ form.date_joined|as_crispy_field }}
    <div class="{% if form.date_joined.errors %} invalid{% endif %}">
    {% for error in form.date_joined.errors %}
    <p class="text-danger">{{ error }}</p>    
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
    {{ form.pension_date|as_crispy_field }}
    <div class="{% if form.pension_date.errors %} invalid{% endif %}">
    {% for error in form.pension_date.errors %}
    <p class="text-danger">{{ error }}</p>    
    {% endfor %}
    </div>
    </div>


    <div class="form-group col-md-4">
    {{ form.qualification|as_crispy_field }}
    <div class="{% if form.qualification.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>
    </div>

    <div class="row">
    <div class="form-group col-md-4">
    {{ form.languages|as_crispy_field }}
    <div class="{% if form.languages.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
    {{ form.professional_organizations|as_crispy_field }}
    <div class="{% if form.professional_organizations.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
    {{ form.blood_group|as_crispy_field }}
    <div class="{% if form.blood_group.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>
    </div>

    <div class="row">
    <div class="form-group col-md-4">
    {{ form.special_interests|as_crispy_field }}
    <div class="{% if form.special_interests.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
    {{ form.hobbies|as_crispy_field }}
    <div class="{% if form.hobbies.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>

    <div class="form-group col-md-4">
    {{ form.national_id|as_crispy_field }}
    <div class="{% if form.national_id.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>
    </div>

    <div class="row">
    <div class="form-group col-md-4">
    {{ form.drivers_license|as_crispy_field }}
    <div class="{% if form.drivers_license.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>
    
    <div class="form-group col-md-4">
    {{ form.digital_passport|as_crispy_field }}
    <div class="{% if form.digital_passport.errors %} invalid{% endif %}">
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
    {% endfor %}
    </div>
    </div>
    </div>

    </form>
    </div>

    

    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="submit-btn btn btn-success ml-4 pt-2 pb-1 pr-2"><i class="fa fa-podcast text-white"></i> Create Staff Profile</button>

    </div>
    </div>
    <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    </div>