{% load widget_tweaks %}
{% load crispy_forms_tags %}

      <div class="row mr-4">
            <div class="col-md-7 mt-0">
                <div class="col-md-12">
                    <div class="row">
                        <p class="col-12 text-success lead">Confirm Deletion</p>
                   
                    

                        <form action='.' method='POST'>{% csrf_token %}
                        <p class="col-12 lead">Do you want to delete this requisition "{{ object.item }}"?</p>

                        <div class="ml-3">
                        
                       <button type="submit" class="btn btn-success"><i class="fa fa-barcode text-white"></i> Yes </button>

                       
                        <a href="{% url 'rrbnstaff:requisition_list' %}" class="btn btn-info text-white pt-1 pb-2 px-3 mt-3 ml-3 mb-3"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Requisitions</a>
                        </div>

                       </form>

                     </div>


        </div>

                
      </div>
        <!-- /.container-fluid -->

      </div>







