{% extends 'base3.html' %}
{% load static %}
{% load crispy_forms_tags %}
 <!-- {% block title%}| Store Dashboard {% endblock %} -->
{% block styles %}


<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
<link href="{% static 'css/mycustomcss.css' %}" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">




{% endblock %}


{% block content %}





  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
  
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">



          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html"><div class="sidebar-brand-icon "><img class="rrbn-logo" src="{% static 'img/rrbn-logo.png' %}" alt="rrbn-logo"></div></a>






          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>



          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user.first_name}} {{request.user.last_name}}</span>
                <img class="img-profile rounded-circle" src="{% static 'img/staff_pix.jpg' %}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
            
              
                <!-- Card Body -->
                <div class="row">
        <div class="col-lg-12">
        <div class="card">

        <div class="row mt-3 pt-3 ml-2 pl-2">
            <div class="col-md-8 mt-0">
                <div class="col-md-12">
                    <div class="row">
                        <p class="col-12 text-success lead">Requition Details</p>
                    </div>
                    <div class="row">
                        <span class="col-5"><strong>Requisition No:</strong></span>
                        <span class="col-6 ">{{object.requisition_no}}</span>
                    </div>

                    <div class="row">
                      <span class="col-5"><strong>Item Name:</strong></span>
                      <span class="col-6">{{object.item}}</span>
                  </div>
                 
                  <div class="row">
                      <span class="col-5"><strong>Quantity:</strong></span>
                      <span class="col-6">{{object.quantity_requested}}</span>
                  </div>
                  <div class="row">
                      <span class="col-5"><strong>Requesting Staff:</strong></span>
                      <span class="col-6">{{object.user.first_name}} {{object.user.last_name}}</span>
                  </div>
                  <div class="row">
                      <span class="col-5"><strong>Department:</strong></span>
                      <span class="col-6">{{object.department}}</span>
                    </div>  
                  <div class="row">
                      <span class="col-5"><strong>Requisition Date:</strong></span>
                      <span class="col-6">{{object.requisition_date}}</span>
                  </div>         
                </div>
                <br>

                <hr> 
                <div class="d-flex justify-content-end">  

                <button type="button" id="update-requisition" class="btn btn-success py-1 mr-4 mt-1 mb-3" data-form-url="#">
                <span class="fa fa-barcode text-white">Update Requisition</span>
                </button>
                <a href="{% url 'rrbnstaff:staff_dashboard' %}" class="btn btn-info text-white py-1 px-3 mt-1 mb-3"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Dashboard</a> 
      </div>       
      </div>  
      </div>         
      </div>    
      </div>
      </div>
      </div>
      </div>
      </div>     
      </div>
      </div>
        <!-- /.container-fluid -->

     


  



      <div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>
  

<!-- Create book button -->





      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; RRBN Inventory Management System 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="javascript:{document.getElementById('logout').submit()}">
          <form id="logout" method="POST" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <input type="hidden"/>
        </form>Logout</a>
        </div>
      </div>
    </div>
  </div>









      



<!-- Bootstrap core JavaScript-->






<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Page level custom scripts -->
<script src="{% static 'bootstrap/js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static 'js/jquery.slim.min.js' %}"></script>


<script type="text/javascript">
$(document).ready(function() {

    $("#update-requisition").modalForm({
        formURL: "{% url 'rrbnstaff:requisition_update' object.id %}"
    });

});
</script>









<script>
      $('#mydata').dataTable();
</script>









  <!--other javascript plugins--> 

<script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>







{% endblock %}
