{% extends 'base_admin.html'%}
{% load static %}
{% block title%}| Files Recovery {% endblock %}



{% block content %} 

<!-- main header @s -->
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-menu-trigger d-xl-none ml-n1">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                            </div>
                            <div class="nk-header-app-name">
                                <div class="nk-header-app-logo">
                                    <em class="icon ni ni-folder bg-purple-dim"></em>
                                </div>
                                <div class="nk-header-app-info">
                                    <span class="sub-text">RRBN ECMS</span>
                                    <span class="lead-text">Files Manager</span>
                                </div>
                            </div>
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="dropdown chats-dropdown hide-mb-xs">
                                        <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                                            <div class="icon-status icon-status-na"><em class="icon ni ni-comments"></em></div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
                                            <div class="dropdown-head">
                                                <span class="sub-title nk-dropdown-title">Recent Chats</span>
                                                <a href="#">Setting</a>
                                            </div>
                                            <div class="dropdown-body">
                                                <ul class="chat-list">
                                                    <li class="chat-item">
                                                        <a class="chat-link" href="{% url 'administration:chats' %}">
                                                            <div class="chat-media user-avatar">
                                                                <span>SA</span>
                                                                <span class="status dot dot-lg dot-gray"></span>
                                                            </div>
                                                            <div class="chat-info">
                                                                <div class="chat-from">
                                                                    <div class="name">Sunday Adetoloye</div>
                                                                    <span class="time">Now</span>
                                                                </div>
                                                                <div class="chat-context">
                                                                    <div class="text">You: Please confrim if you got my last messages.</div>
                                                                    <div class="status delivered">
                                                                        <em class="icon ni ni-check-circle-fill"></em>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li><!-- .chat-item -->
                                                    <li class="chat-item is-unread">
                                                        <a class="chat-link" href="{% url 'administration:chats' %}">
                                                            <div class="chat-media user-avatar bg-pink">
                                                                <span>LO</span>
                                                                <span class="status dot dot-lg dot-success"></span>
                                                            </div>
                                                            <div class="chat-info">
                                                                <div class="chat-from">
                                                                    <div class="name">Lere Opaleye</div>
                                                                    <span class="time">4:49 AM</span>
                                                                </div>
                                                                <div class="chat-context">
                                                                    <div class="text">Hi, I'm yet to receive your input on the file I forwared to you</div>
                                                                    <div class="status unread">
                                                                        <em class="icon ni ni-bullet-fill"></em>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li><!-- .chat-item -->
                                                    <li class="chat-item">
                                                        <a class="chat-link" href="{% url 'administration:chats' %}">
                                                            <div class="chat-media user-avatar">
                                                                <img src="{% static 'dlite/images/avatar/b-sm.jpg' %}" alt="">
                                                            </div>
                                                            <div class="chat-info">
                                                                <div class="chat-from">
                                                                    <div class="name">Malachy Ejimofor</div>
                                                                    <span class="time">6 Apr</span>
                                                                </div>
                                                                <div class="chat-context">
                                                                    <div class="text">I'm awaiting your revert on my leave request. Please treat as urgent</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li><!-- .chat-item -->
                                                    <li class="chat-item">
                                                        <a class="chat-link" href="{% url 'administration:chats' %}">
                                                            <div class="chat-media user-avatar user-avatar-multiple">
                                                                <div class="user-avatar">
                                                                    <img src="{% static 'dlite/images/avatar/c-sm.jpg' %}" alt="">
                                                                </div>
                                                                <div class="user-avatar">
                                                                    <span>OA</span>
                                                                </div>
                                                            </div>
                                                            <div class="chat-info">
                                                                <div class="chat-from">
                                                                    <div class="name">Olarinde Adesoji</div>
                                                                    <span class="time">27 Mar</span>
                                                                </div>
                                                                <div class="chat-context">
                                                                    <div class="text">Your overtime allowances have been paid. Kindly check your account </div>
                                                                    <div class="status sent">
                                                                        <em class="icon ni ni-check-circle"></em>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li><!-- .chat-item -->
                                                    <li class="chat-item">
                                                        <a class="chat-link" href="{% url 'administration:chats' %}">
                                                            <div class="chat-media user-avatar">
                                                                <img src="{% static 'dlite/images/avatar/a-sm.jpg' %}" alt="">
                                                                <span class="status dot dot-lg dot-success"></span>
                                                            </div>
                                                            <div class="chat-info">
                                                                <div class="chat-from">
                                                                    <div class="name">Samuel Oluwale</div>
                                                                    <span class="time">3 Apr</span>
                                                                </div>
                                                                <div class="chat-context">
                                                                    <div class="text">Hi Sunday! Are you around?</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li><!-- .chat-item -->
                                                    <li class="chat-item">
                                                        <a class="chat-link" href="{% url 'administration:chats' %}">
                                                            <div class="chat-media user-avatar bg-purple">
                                                                <span>TC</span>
                                                            </div>
                                                            <div class="chat-info">
                                                                <div class="chat-from">
                                                                    <div class="name">Taiwo Coker</div>
                                                                    <span class="time">27 Mar</span>
                                                                </div>
                                                                <div class="chat-context">
                                                                    <div class="text">You: I just request for A4 Photostat Paper from the stores</div>
                                                                    <div class="status sent">
                                                                        <em class="icon ni ni-check-circle"></em>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li><!-- .chat-item -->
                                                </ul><!-- .chat-list -->
                                            </div><!-- .nk-dropdown-body -->
                                            <div class="dropdown-foot center">
                                                <a href="{% url 'administration:chats' %}">View All</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown notification-dropdown">
                                        <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                                            <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
                                            <div class="dropdown-head">
                                                <span class="sub-title nk-dropdown-title">Notifications</span>
                                                <a href="#">Mark All as Read</a>
                                            </div>
                                            <div class="dropdown-body">
                                                <div class="nk-notification">
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-primary-dim ni ni-share"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">Lere shared <span>Presentation-v2</span> with you.</div>
                                                            <div class="nk-notification-time">Just now</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-info-dim ni ni-edit"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">Lere <span>invited</span> you to edit <span>Presentation</span> folder</div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-primary-dim ni ni-share"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">You have shared <span>2021 Due Process v2</span> with Sunday.</div>
                                                            <div class="nk-notification-time">7 days ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-success-dim ni ni-spark"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">Your <span>Subscription</span> renewwal was successful.</div>
                                                            <div class="nk-notification-time">2 months ago</div>
                                                        </div>
                                                    </div>
                                                </div><!-- .nk-notification -->
                                            </div><!-- .nk-dropdown-body -->
                                            <div class="dropdown-foot center">
                                                <a href="#">View All</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown list-apps-dropdown d-lg-none">
                                        <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                                            <div class="icon-status icon-status-na"><em class="icon ni ni-menu-circled"></em></div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                            <div class="dropdown-body">
                                                <ul class="list-apps">
                                                    <li>
                                                        <a href="{% url 'administration:filemanager_dashboard' %}">
                                                            <span class="list-apps-media"><em class="icon ni ni-dashlite bg-primary text-white"></em></span>
                                                            <span class="list-apps-title">Dashboard</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'administration:chats' %}">
                                                            <span class="list-apps-media"><em class="icon ni ni-chat-circle bg-info-dim"></em></span>
                                                            <span class="list-apps-title">Chats</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'administration:mailbox' %}">
                                                            <span class="list-apps-media"><em class="icon ni ni-inbox bg-purple-dim"></em></span>
                                                            <span class="list-apps-title">Mailbox</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'administration:messages' %}">
                                                            <span class="list-apps-media"><em class="icon ni ni-chat bg-success-dim"></em></span>
                                                            <span class="list-apps-title">Messages</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'administration:filemanager_dashboard' %}">
                                                            <span class="list-apps-media"><em class="icon ni ni-folder bg-purple-dim"></em></span>
                                                            <span class="list-apps-title">File Manager</span>
                                                        </a>
                                                    </li>
                                                    <!-- <li>
                                                        <a href="html/components.html">
                                                            <span class="list-apps-media"><em class="icon ni ni-layers bg-secondary-dim"></em></span>
                                                            <span class="list-apps-title">Components</span>
                                                        </a>
                                                    </li> -->
                                                </ul>
                                               <!--  <ul class="list-apps">
                                                    <li>
                                                        <a href="/demo2/ecommerce/index.html">
                                                            <span class="list-apps-media"><em class="icon ni ni-cart bg-danger-dim"></em></span>
                                                            <span class="list-apps-title">Ecommerce Panel</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/demo4/subscription/index.html">
                                                            <span class="list-apps-media"><em class="icon ni ni-calendar-booking bg-primary-dim"></em></span>
                                                            <span class="list-apps-title">Subscription Panel</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/demo5/crypto/index.html">
                                                            <span class="list-apps-media"><em class="icon ni ni-bitcoin-cash bg-warning-dim"></em></span>
                                                            <span class="list-apps-title">Crypto Wallet Panel</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/demo6/invest/index.html">
                                                            <span class="list-apps-media"><em class="icon ni ni-invest bg-blue-dim"></em></span>
                                                            <span class="list-apps-title">HYIP Invest Panel</span>
                                                        </a>
                                                    </li>
                                                </ul> -->
                                            </div><!-- .nk-dropdown-body -->
                                        </div>
                                    </li>
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle mr-n1" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                        <span>LO</span>
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text">Lere Opaleye</span>
                                                        <span class="sub-text">admin@rrbn.gov.ng</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="html/user-profile-regular.html"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                                    <li><a href="html/user-profile-setting.html"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                                                    <li><a href="html/user-profile-activity.html"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li>
                                                    <li><a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="javascript:{document.getElementById('logout').submit()}"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                                </ul>
                                                <form id="logout" method="POST" action="{% url 'accounts:logout' %}">{% csrf_token %}<input type="hidden"/></form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
<!-- main header @e -->
<!-- content @s -->
<!-- <div class="nk-content p-0"> -->
<div class="nk-content-inner">
<div class="nk-content-body">
<div class="nk-fmg">
<div class="nk-fmg-aside" data-content="files-aside" data-toggle-overlay="true" data-toggle-body="true" data-toggle-screen="lg" data-simplebar>
<div class="nk-fmg-aside-wrap">
<div class="nk-fmg-aside-top">
<ul class="nk-fmg-menu">
<li>
<a class="nk-fmg-menu-item" href="{% url 'administration:filemanager_dashboard' %}">
<em class="icon ni ni-home-alt"></em>
<span class="nk-fmg-menu-text">Home</span>
</a>
</li>
<li>
<a class="nk-fmg-menu-item" href="{% url 'administration:files_all' %}">
<em class="icon ni ni-file-docs"></em>
<span class="nk-fmg-menu-text">Files</span>
</a>
</li>
<li>
<a class="nk-fmg-menu-item" href="{% url 'administration:starred_files' %}">
<em class="icon ni ni-star"></em>
<span class="nk-fmg-menu-text">Starred</span>
</a>
</li>
<li>
<a class="nk-fmg-menu-item" href="{% url 'administration:shared_files' %}">
<em class="icon ni ni-share-alt"></em>
<span class="nk-fmg-menu-text">Shared</span>
</a>
</li>
<li class="active">
<a class="nk-fmg-menu-item" href="{% url 'administration:recover_files' %}">
<em class="icon ni ni-trash-alt"></em>
<span class="nk-fmg-menu-text">Recovery</span>
</a>
</li>
<li>
<a class="nk-fmg-menu-item" href="{% url 'administration:file_settings' %}">
<em class="icon ni ni-setting-alt"></em>
<span class="nk-fmg-menu-text">Settings</span>
</a>
</li>
</ul>
</div>
<div class="nk-fmg-aside-bottom">
<div class="nk-fmg-status">
<h6 class="nk-fmg-status-title"><em class="icon ni ni-hard-drive"></em><span>Storage</span></h6>
<div class="progress progress-md bg-light">
<div class="progress-bar" data-progress="5"></div>
</div>
<div class="nk-fmg-status-info">122.47 GB of 500 GB used</div>
<div class="nk-fmg-status-action">
<a href="#" class="link link-primary link-sm">Upgrade Storage</a>
</div>
</div>
<div class="nk-fmg-switch">
<div class="dropdown">
<a href="#" data-toggle="dropdown" data-offset="-10, 12" class="dropdown-toggle dropdown-indicator-unfold">
<div class="lead-text">Personal</div>
<div class="sub-text">Only you</div>
</a>
<div class="dropdown-menu dropdown-menu-right">
<ul class="link-list-opt no-bdr">
<li><a href="#"><span>Team Plan</span></a></li>
<li><a class="active" href="#"><span>Personal</span></a></li>
<li class="divider"></li>
<li><a class="link" href="#"><span>Upgrade Plan</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div><!-- .nk-fmg-aside -->
<div class="nk-fmg-body">
<div class="nk-fmg-body-head d-none d-lg-flex">
<div class="nk-fmg-search">
<em class="icon ni ni-search"></em>
<input type="text" class="form-control border-transparent form-focus-none" placeholder="Search files, folders">
</div>
<div class="nk-fmg-actions">
<ul class="nk-block-tools g-3">
<li class="d-xl-none d-lg-inline-flex">
<a href="#" class="btn btn-trigger btn-icon toggle-expand" data-target="filter-options"><em class="icon ni ni-opt"></em></a>
</li>
<li><a href="#" class="btn btn-round btn-light btn-icon"><em class="icon ni ni-setting"></em></a></li>
</ul>
</div>
</div>
<div class="nk-fmg-body-content">
<div class="nk-block-head nk-block-head-sm">
<div class="nk-block-between position-relative">
<div class="nk-block-head-content">
<h3 class="nk-block-title page-title">Recovery</h3>
</div>
<div class="nk-block-head-content">
<ul class="nk-block-tools g-1">
<li class="d-lg-none">
<a href="#" class="btn btn-trigger btn-icon search-toggle toggle-search" data-target="search"><em class="icon ni ni-search"></em></a>
</li>
<li class="d-lg-none">
<a href="#" class="btn btn-trigger btn-icon toggle-expand" data-target="filter-options"><em class="icon ni ni-opt"></em></a>
</li>
<li class="d-lg-none">
<a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-setting"></em></a>
</li>
<li class="d-lg-none mr-n1"><a href="#" class="btn btn-trigger btn-icon toggle" data-target="files-aside"><em class="icon ni ni-menu-alt-r"></em></a></li>
</ul>
</div>
<div class="search-wrap px-2 d-lg-none" data-search="search">
<div class="search-content">
<a href="#" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
<input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or message">
<button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
</div>
</div><!-- .search-wrap -->
</div>
</div><!-- .nk-block-head -->
<div class="nk-fmg-listing nk-block">
<div class="row">
<div class="col-xl-3 order-xl-12">
<div class="nk-fmg-filter toggle-expand-content" data-content="filter-options">
<form action="#">
<div class="row">
<div class="col-lg-12 col-md-4">
<div class="form-group">
<label class="form-label">From</label>
<div class="form-control-wrap">
<div class="form-icon form-icon-left">
<em class="icon ni ni-calendar"></em>
</div>
<input type="text" class="form-control date-picker" data-date-format="yyyy-mm-dd" value="Any Date">
</div>
</div>
</div>
<div class="col-lg-12 col-md-4">
<div class="form-group">
<label class="form-label">To</label>
<div class="form-control-wrap">
<div class="form-icon form-icon-left">
<em class="icon ni ni-calendar"></em>
</div>
<input type="text" class="form-control date-picker" data-date-format="yyyy-mm-dd" value="Any Date">
</div>
</div>
</div>
<div class="col-lg-12 col-md-4">
<div class="form-group">
<label class="form-label">Deleted By</label>
<div class="form-control-wrap">
<select class="form-select form-control form-control-lg">
<option value="default_option">Any One</option>
<option value="option_select_name">User 1</option>
<option value="option_select_name">User 2</option>
</select>
</div>
</div>
</div>
<div class="col-12">
<button type="reset" class="link link-sm link-primary ml-n1">Reset Filter</button>
</div>
</div>
</form>
</div>
</div><!-- .col -->
<div class="col-xl-9 col-lg-12">
<div class="nk-files nk-files-view-list">
<div class="nk-files-head">
<div class="nk-file-item">
<div class="nk-file-info">
<div class="tb-head">Name</div>
</div>
<div class="nk-file-size">
<div class="tb-head">Size</div>
</div>
<div class="nk-file-date">
<div class="tb-head">Deleted At</div>
</div>
<div class="nk-file-actions">&nbsp;</div>
</div>
</div>
<div class="nk-files-list">
<div class="nk-file-item nk-file">
<div class="nk-file-info">
<a class="nk-file-link" href="#">
<div class="nk-file-title">
<div class="nk-file-icon">
<span class="nk-file-icon-type">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
<path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#0089ff" />
<path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#9bd5f9" />
<path d="M44.7086,39.7209a2.0073,2.0073,0,0,1-.6719-1.13,13.6516,13.6516,0,0,1-.177-2.5892,20.1435,20.1435,0,0,0-.1409-2.6986,2.8313,2.8313,0,0,0-.5677-1.365,2.392,2.392,0,0,0-1.1045-.771A4.7219,4.7219,0,0,0,40.567,31h-.5834v1.6358h.323a2.2358,2.2358,0,0,1,1.3286.2761,1.3951,1.3951,0,0,1,.4115.9741q.052.396.0521,2.4278a7.4367,7.4367,0,0,0,.49,3.1831,3.5212,3.5212,0,0,0,1.688,1.5161A3.2462,3.2462,0,0,0,42.86,42.0913a4.1332,4.1332,0,0,0-.6668,1.8494q-.0938.6979-.0939,3.3029a2.8665,2.8665,0,0,1-.3542,1.7558,1.9512,1.9512,0,0,1-1.4379.3907h-.323v1.6358h.5834a5.15,5.15,0,0,0,1.2922-.1147,2.3263,2.3263,0,0,0,1.5888-1.3283,4.3336,4.3336,0,0,0,.3491-1.412q.052-.5522.0626-2.2922a12.6415,12.6415,0,0,1,.177-2.4537,2.0068,2.0068,0,0,1,.6719-1.13,2.0779,2.0779,0,0,1,1.3077-.4377V40.1586A2.0779,2.0779,0,0,1,44.7086,39.7209Z" style="fill:#fff" />
<path d="M30.1458,39.94a3.9507,3.9507,0,0,0,.6409-1.7192,30.109,30.109,0,0,0,.1145-3.4486,2.8422,2.8422,0,0,1,.3542-1.7454,1.9513,1.9513,0,0,1,1.4379-.3906h.3229V31h-.5834a5.6351,5.6351,0,0,0-1.292.1042,2.3154,2.3154,0,0,0-1.589,1.3336,4.3657,4.3657,0,0,0-.3491,1.4064q-.052.5525-.0624,2.2925a12.753,12.753,0,0,1-.1772,2.4588,1.9824,1.9824,0,0,1-.6719,1.13,2.0961,2.0961,0,0,1-1.3077.4326v1.6981a2.0781,2.0781,0,0,1,1.3077.4377,2.0086,2.0086,0,0,1,.6719,1.1358,13.7531,13.7531,0,0,1,.1772,2.5943,20.1384,20.1384,0,0,0,.1407,2.6987,2.7975,2.7975,0,0,0,.5676,1.36,2.4768,2.4768,0,0,0,1.1046.7762,4.7123,4.7123,0,0,0,1.48.1669h.5834V49.39h-.3229a2.2033,2.2033,0,0,1-1.3286-.2813,1.4643,1.4643,0,0,1-.422-.99q-.0414-.3855-.0417-2.4173a7.3922,7.3922,0,0,0-.5158-3.2247,3.179,3.179,0,0,0-1.6618-1.4639A3.8127,3.8127,0,0,0,30.1458,39.94Z" style="fill:#fff" />
</svg>
</span>
</div>
<div class="nk-file-name">
<div class="nk-file-name-text"><span class="title">Management Report.doc</span></div>
<ul class="breadcrumb breadcrumb-alt breadcrumb-xs breadcrumb-arrow">
<li class="breadcrumb-item">Recent Files</li>
<li class="breadcrumb-item">Reports</li>
<li class="breadcrumb-item">November</li>
</ul>
</div>
</div>
</a>
</div>
<div class="nk-file-size">
<div class="tb-lead">294.58 KB</div>
</div>
<div class="nk-file-date">
<div class="tb-lead">2 hrs ago</div>
</div>
<div class="nk-file-actions">
<div class="dropdown">
<a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
<div class="dropdown-menu dropdown-menu-right">
<ul class="link-list-opt no-bdr">
<li><a href="#" class="text-primary"><em class="icon ni ni-undo"></em><span>Restore Back</span></a></li>
<li><a href="#" class="text-danger"><em class="icon ni ni-trash"></em><span>Permanently Delete</span></a></li>
</ul>
</div>
</div>
</div>
</div><!-- .nk-file -->
<div class="nk-file-item nk-file">
<div class="nk-file-info">
<a href="#" class="nk-file-link">
<div class="nk-file-title">
<div class="nk-file-icon">
<span class="nk-file-icon-type">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
<g>
<path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
<path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
<rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
</g>
</svg>
</span>
</div>
<div class="nk-file-name">
<div class="nk-file-name-text"><span class="title">staff-training-list.docx</span></div>
<ul class="breadcrumb breadcrumb-alt breadcrumb-xs breadcrumb-arrow">
<li class="breadcrumb-item">Trainings</li>
</ul>
</div>
</div>
</a>
</div>
<div class="nk-file-size">
<div class="tb-lead">294.58 KB</div>
</div>
<div class="nk-file-date">
<div class="tb-lead">2 hrs ago</div>
</div>
<div class="nk-file-actions">
<div class="dropdown">
<a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
<div class="dropdown-menu dropdown-menu-right">
<ul class="link-list-opt no-bdr">
<li><a href="#" class="text-primary"><em class="icon ni ni-undo"></em><span>Restore Back</span></a></li>
<li><a href="#" class="text-danger"><em class="icon ni ni-trash"></em><span>Permanently Delete</span></a></li>
</ul>
</div>
</div>
</div>
</div><!-- .nk-file -->
<div class="nk-file-item nk-file">
<div class="nk-file-info">
<a href="#" class="nk-file-link">
<div class="nk-file-title">
<div class="nk-file-icon">
<span class="nk-file-icon-type">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
<g>
<rect x="16" y="14" width="40" height="44" rx="6" ry="6" style="fill:#7e95c4" />
<rect x="32" y="17" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="32" y="22" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="32" y="27" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="32" y="32" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="32" y="37" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<path d="M35,14h2a0,0,0,0,1,0,0V43a1,1,0,0,1-1,1h0a1,1,0,0,1-1-1V14A0,0,0,0,1,35,14Z" style="fill:#fff" />
<path d="M38.0024,42H33.9976A1.9976,1.9976,0,0,0,32,43.9976v2.0047A1.9976,1.9976,0,0,0,33.9976,48h4.0047A1.9976,1.9976,0,0,0,40,46.0024V43.9976A1.9976,1.9976,0,0,0,38.0024,42Zm-.0053,4H34V44h4Z" style="fill:#fff" />
</g>
</svg>
</span>
</div>
<div class="nk-file-name">
<div class="nk-file-name-text"><span class="title">staff-welfare.zip</span></div>
<ul class="breadcrumb breadcrumb-alt breadcrumb-xs breadcrumb-arrow">
<li class="breadcrumb-item">Staff Welfare</li>
<li class="breadcrumb-item">Packages</li>
</ul>
</div>
</div>
</a>
</div>
<div class="nk-file-size">
<div class="tb-lead">24.73 MB</div>
</div>
<div class="nk-file-date">
<div class="tb-lead">3 hrs ago</div>
</div>
<div class="nk-file-actions">
<div class="dropdown">
<a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
<div class="dropdown-menu dropdown-menu-right">
<ul class="link-list-opt no-bdr">
<li><a href="#" class="text-primary"><em class="icon ni ni-undo"></em><span>Restore Back</span></a></li>
<li><a href="#" class="text-danger"><em class="icon ni ni-trash"></em><span>Permanently Delete</span></a></li>
</ul>
</div>
</div>
</div>
</div><!-- .nk-file -->
<div class="nk-file-item nk-file">
<div class="nk-file-info">
<a href="#" class="nk-file-link">
<div class="nk-file-title">
<div class="nk-file-icon">
<span class="nk-file-icon-type">
<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 72 72">
<path fill="#6C87FE" d="M57.5,31h-23c-1.4,0-2.5-1.1-2.5-2.5v-10c0-1.4,1.1-2.5,2.5-2.5h23c1.4,0,2.5,1.1,2.5,2.5v10
	C60,29.9,58.9,31,57.5,31z" />
<path fill="#8AA3FF" d="M59.8,61H12.2C8.8,61,6,58,6,54.4V17.6C6,14,8.8,11,12.2,11h18.5c1.7,0,3.3,1,4.1,2.6L38,24h21.8
	c3.4,0,6.2,2.4,6.2,6v24.4C66,58,63.2,61,59.8,61z" />
<path display="none" fill="#8AA3FF" d="M62.1,61H9.9C7.8,61,6,59.2,6,57c0,0,0-31.5,0-42c0-2.2,1.8-4,3.9-4h19.3
	c1.6,0,3.2,0.2,3.9,2.3l2.7,6.8c0.5,1.1,1.6,1.9,2.8,1.9h23.5c2.2,0,3.9,1.8,3.9,4v31C66,59.2,64.2,61,62.1,61z" />
<path fill="#798BFF" d="M7.7,59c2.2,2.4,4.7,2,6.3,2h45c1.1,0,3.2,0.1,5.3-2H7.7z" />
</svg>
</span>
</div>
<div class="nk-file-name">
<div class="nk-file-name-text"><span class="title">Admin Department</span></div>
<ul class="breadcrumb breadcrumb-alt breadcrumb-xs breadcrumb-arrow">
<li class="breadcrumb-item">Promotions</li>
</ul>
</div>
</div>
</a>
</div>
<div class="nk-file-size">
<div class="tb-lead">405.80 MB</div>
</div>
<div class="nk-file-date">
<div class="tb-lead">Today, 08:29 AM</div>
</div>
<div class="nk-file-actions">
<div class="dropdown">
<a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
<div class="dropdown-menu dropdown-menu-right">
<ul class="link-list-opt no-bdr">
<li><a href="#" class="text-primary"><em class="icon ni ni-undo"></em><span>Restore Back</span></a></li>
<li><a href="#" class="text-danger"><em class="icon ni ni-trash"></em><span>Permanently Delete</span></a></li>
</ul>
</div>
</div>
</div>
</div><!-- .nk-file -->
<div class="nk-file-item nk-file">
<div class="nk-file-info">
<a href="#" class="nk-file-link">
<div class="nk-file-title">
<div class="nk-file-icon">
<span class="nk-file-icon-type">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
<g>
<rect x="16" y="14" width="40" height="44" rx="6" ry="6" style="fill:#7e95c4" />
<rect x="32" y="17" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="32" y="22" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="32" y="27" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="32" y="32" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="32" y="37" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<path d="M35,14h2a0,0,0,0,1,0,0V43a1,1,0,0,1-1,1h0a1,1,0,0,1-1-1V14A0,0,0,0,1,35,14Z" style="fill:#fff" />
<path d="M38.0024,42H33.9976A1.9976,1.9976,0,0,0,32,43.9976v2.0047A1.9976,1.9976,0,0,0,33.9976,48h4.0047A1.9976,1.9976,0,0,0,40,46.0024V43.9976A1.9976,1.9976,0,0,0,38.0024,42Zm-.0053,4H34V44h4Z" style="fill:#fff" />
</g>
</svg>
</span>
</div>
<div class="nk-file-name">
<div class="nk-file-name-text"><span class="title">staff_training.zip</span></div>
<ul class="breadcrumb breadcrumb-alt breadcrumb-xs breadcrumb-arrow">
<li class="breadcrumb-item">Trainings</li>
<li class="breadcrumb-item">Management Retreat</li>
</ul>
</div>
</div>
</a>
</div>
<div class="nk-file-size">
<div class="tb-lead">239.27 MB</div>
</div>
<div class="nk-file-date">
<div class="tb-lead">Yesterday, 08:29 AM</div>
</div>
<div class="nk-file-actions">
<div class="dropdown">
<a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
<div class="dropdown-menu dropdown-menu-right">
<ul class="link-list-opt no-bdr">
<li><a href="#" class="text-primary"><em class="icon ni ni-undo"></em><span>Restore Back</span></a></li>
<li><a href="#" class="text-danger"><em class="icon ni ni-trash"></em><span>Permanently Delete</span></a></li>
</ul>
</div>
</div>
</div>
</div><!-- .nk-file -->
<div class="nk-file-item nk-file">
<div class="nk-file-info">
<a href="#" class="nk-file-link">
<div class="nk-file-title">
<div class="nk-file-icon">
<span class="nk-file-icon-type">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
<path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#755de0" />
<path d="M27.2223,43H44.7086s2.325-.2815.7357-1.897l-5.6034-5.4985s-1.5115-1.7913-3.3357.7933L33.56,40.4707a.6887.6887,0,0,1-1.0186.0486l-1.9-1.6393s-1.3291-1.5866-2.4758,0c-.6561.9079-2.0261,2.8489-2.0261,2.8489S25.4268,43,27.2223,43Z" style="fill:#fff" />
<path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#b5b3ff" />
</svg>
</span>
</div>
<div class="nk-file-name">
<div class="nk-file-name-text"><span class="title">lagos_workshop.psd</span></div>
<ul class="breadcrumb breadcrumb-alt breadcrumb-xs breadcrumb-arrow">
<li class="breadcrumb-item">Official Duty</li>
<li class="breadcrumb-item">Institute</li>
<li class="breadcrumb-item">CPDs</li>
</ul>
</div>
</div>
</a>
</div>
<div class="nk-file-size">
<div class="tb-lead">25.49 MB</div>
</div>
<div class="nk-file-date">
<div class="tb-lead">Sunday, 08:29 AM</div>
</div>
<div class="nk-file-actions">
<div class="dropdown">
<a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
<div class="dropdown-menu dropdown-menu-right">
<ul class="link-list-opt no-bdr">
<li><a href="#" class="text-primary"><em class="icon ni ni-undo"></em><span>Restore Back</span></a></li>
<li><a href="#" class="text-danger"><em class="icon ni ni-trash"></em><span>Permanently Delete</span></a></li>
</ul>
</div>
</div>
</div>
</div><!-- .nk-file -->
<div class="nk-file-item nk-file">
<div class="nk-file-info">
<a href="#" class="nk-file-link">
<div class="nk-file-title">
<div class="nk-file-icon">
<span class="nk-file-icon-type">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
<g>
<rect x="16" y="14" width="40" height="44" rx="6" ry="6" style="fill:#7e95c4" />
<rect x="32" y="17" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="32" y="22" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="32" y="27" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="32" y="32" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<rect x="32" y="37" width="8" height="2" rx="1" ry="1" style="fill:#fff" />
<path d="M35,14h2a0,0,0,0,1,0,0V43a1,1,0,0,1-1,1h0a1,1,0,0,1-1-1V14A0,0,0,0,1,35,14Z" style="fill:#fff" />
<path d="M38.0024,42H33.9976A1.9976,1.9976,0,0,0,32,43.9976v2.0047A1.9976,1.9976,0,0,0,33.9976,48h4.0047A1.9976,1.9976,0,0,0,40,46.0024V43.9976A1.9976,1.9976,0,0,0,38.0024,42Zm-.0053,4H34V44h4Z" style="fill:#fff" />
</g>
</svg>
</span>
</div>
<div class="nk-file-name">
<div class="nk-file-name-text"><span class="title">overtime-requests.zip</span></div>
<ul class="breadcrumb breadcrumb-alt breadcrumb-xs breadcrumb-arrow">
<li class="breadcrumb-item">2021 Audit</li>
<li class="breadcrumb-item">Approved Requests</li>
</ul>
</div>
</div>
</a>
</div>
<div class="nk-file-size">
<div class="tb-lead">12.35 MB</div>
</div>
<div class="nk-file-date">
<div class="tb-lead">20/4/2020 3:57 AM</div>
</div>
<div class="nk-file-actions">
<div class="dropdown">
<a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
<div class="dropdown-menu dropdown-menu-right">
<ul class="link-list-opt no-bdr">
<li><a href="#" class="text-primary"><em class="icon ni ni-undo"></em><span>Restore Back</span></a></li>
<li><a href="#" class="text-danger"><em class="icon ni ni-trash"></em><span>Permanently Delete</span></a></li>
</ul>
</div>
</div>
</div>
</div><!-- .nk-file -->
<div class="nk-file-item nk-file">
<div class="nk-file-info">
<a href="#" class="nk-file-link">
<div class="nk-file-title">
<div class="nk-file-icon">
<span class="nk-file-icon-type">
<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 72 72">
<path fill="#6C87FE" d="M57.5,31h-23c-1.4,0-2.5-1.1-2.5-2.5v-10c0-1.4,1.1-2.5,2.5-2.5h23c1.4,0,2.5,1.1,2.5,2.5v10
	C60,29.9,58.9,31,57.5,31z" />
<path fill="#8AA3FF" d="M59.8,61H12.2C8.8,61,6,58,6,54.4V17.6C6,14,8.8,11,12.2,11h18.5c1.7,0,3.3,1,4.1,2.6L38,24h21.8
	c3.4,0,6.2,2.4,6.2,6v24.4C66,58,63.2,61,59.8,61z" />
<path display="none" fill="#8AA3FF" d="M62.1,61H9.9C7.8,61,6,59.2,6,57c0,0,0-31.5,0-42c0-2.2,1.8-4,3.9-4h19.3
	c1.6,0,3.2,0.2,3.9,2.3l2.7,6.8c0.5,1.1,1.6,1.9,2.8,1.9h23.5c2.2,0,3.9,1.8,3.9,4v31C66,59.2,64.2,61,62.1,61z" />
<path fill="#798BFF" d="M7.7,59c2.2,2.4,4.7,2,6.3,2h45c1.1,0,3.2,0.1,5.3-2H7.7z" />
</svg>
</span>
</div>
<div class="nk-file-name">
<div class="nk-file-name-text"><span class="title">Document Archives</span></div>
<ul class="breadcrumb breadcrumb-alt breadcrumb-xs breadcrumb-arrow">
<li class="breadcrumb-item">Presentations</li>
</ul>
</div>
</div>
</a>
</div>
<div class="nk-file-size">
<div class="tb-lead">1.43 GB</div>
</div>
<div class="nk-file-date">
<div class="tb-lead">24/4/2020 3:57 AM</div>
</div>
<div class="nk-file-actions">
<div class="dropdown">
<a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
<div class="dropdown-menu dropdown-menu-right">
<ul class="link-list-opt no-bdr">
<li><a href="#" class="text-primary"><em class="icon ni ni-undo"></em><span>Restore Back</span></a></li>
<li><a href="#" class="text-danger"><em class="icon ni ni-trash"></em><span>Permanently Delete</span></a></li>
</ul>
</div>
</div>
</div>
</div><!-- .nk-file -->
</div>
</div><!-- .nk-files -->
</div><!-- .col -->
</div><!-- .row -->
</div><!-- .nk-block -->
</div><!-- .nk-fmg-body-content -->
</div><!-- .nk-fmg-body -->
</div><!-- .nk-fmg -->
</div>
</div>
<!-- </div> -->
<!-- content @e -->



{% endblock %}